.container {
  max-width: 1244px;
  padding: 3rem 1rem 6rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.headerHomeImageMove {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes move {
  0%,
  10% {
    transform: rotate(-15deg);
    transform-origin: bottom;
  }
  40%,
  60% {
    transform: rotate(15deg);
    transform-origin: bottom;
  }
  90%,
  100% {
    transform: rotate(-15deg);
    transform-origin: bottom;
  }
}

@keyframes move {
  0%,
  10% {
    transform: rotate(-15deg);
    transform-origin: bottom;
  }
  40%,
  60% {
    transform: rotate(15deg);
    transform-origin: bottom;
  }
  90%,
  100% {
    transform: rotate(-15deg);
    transform-origin: bottom;
  }
}
